body {
  text-align: center;
    color:black;
    background-color: #808080;
}

.jumbotron {
  margin-top: 2em;
}

#result {
  display: none;
}

.footer {
    margin-top: 2em;
}

ol {
  list-style-type: none;
}

ul {
  list-style-type: none;
}

ul li {
  margin: 1em;
  font-weight: bold;
}

h1 {
  margin-top: 2em;
  margin-bottom: 1em;
  text-shadow: 2px 2px 4px #808080;
}

#enter {
  margin-bottom: 6em;
  text-shadow: 2px 2px 4px #808080;
  font-size: 25px;
}
