body {
  text-align: center;
    color:black;
}

#result {
  display: none;
}

ul {
  list-style-type: none;
}

li {
  margin:1;
}

h1 {
  margin-top: 2em;
  margin-bottom: 1em;
  text-shadow: 2px 2px 4px #808080;
}

#enter {
  margin-bottom: 6em;
  text-shadow: 2px 2px 4px #808080;
  font-size: 25px;
}
